<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../assets/icon/icon.png">
    <script src="../scripts/main.js" defer></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div id="container">
        <div id="timer">
            <div class="timeSquare">
                <i class='bx bxs-up-arrow'></i>
                <p id="hoursValue">00</p>
                <i class='bx bxs-down-arrow'></i>
            </div>

            <div class="timeSquare">
                <i class='bx bxs-up-arrow'></i>
                <p id="minutesValue">00</p>
                <i class='bx bxs-down-arrow'></i>
            </div>

            <div class="timeSquare">
                <i class='bx bxs-up-arrow'></i>
                <p id="secondsValue">00</p>
                <i class='bx bxs-down-arrow'></i>
            </div>
        </div>

        <div id="buttons">
            <button id="startBtn">Start</button><button id="pauseBtn">Pause</button><button id="clearBtn">Clear</button>
        </div>
    </div>
</body>
</html>